form{
    width: 450px;
    height: 250px;
    margin-top: 230px;
    /* margin-left: 600px; */
    border: 2px solid black;
    border-radius: 2%;
    padding: 50px;
    /* padding: 10px;
    padding-left: 10px; */
    box-shadow: 2px 2px 9px 2px grey;
}
input{
    width: 240px;
    padding: 15px;
    margin: 10px;
    border: 2px solid rgb(137, 137, 137);
    align-items: center;
    text-align: center;
    border-radius: 2px;

}
.btn{
    padding: 12px;
    margin: 10px;
    width: 170px;
    border-radius:5px ;
    background-color: rgb(129, 129, 106);
}